# Chatbot UI
DEFAULT_MODEL=gpt-3.5-turbo
NEXT_PUBLIC_DEFAULT_SYSTEM_PROMPT="You are ChatGPT, a large language model trained by OpenAI. Follow the user's instructions carefully. Respond using markdown."

OPENAI_API_KEY=YOUR_KEY
OPENAI_ORGANIZATION=YOUR_ORG_KEY
# 如有翻墙必要，可使用代理
# OPENAI_API_HOST=https://api.openai-proxy.com

# vocechat bot api secret
VOCECHAT_ORIGIN=http://your.vocechat.domain
VOCECHAT_BOT_ID=bot_id
VOCECHAT_BOT_SECRET=bot_api_key
